* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Yantramanav', sans-serif;
}

:root {
    --dock-color: rgba(39,36,43,0.85);
    --background-black: rgba(0,0,0,0.75);
    --White: #ffffff;
    --menu-color: rgba(39,36,43,0.8);    
    --opciones-color: #a66a60;
    --background-blue: #227cee;
    --ventana-background: #8af0fc;
    --ventana-background2: #adf4fd;

    /* TAMAÑO DE FUENTES */
    --size1: 1.2rem;
    --size2: 1.5rem;
}
