#dock-container {
    position: fixed;
    bottom: 0;
    text-align: center;
    right: 6%;
    left: 6%;
    width: 88%;
    background: var(--dock-color);
    border-radius: 1rem 1rem 0 0;
}

#dock-container li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

#dock-container li img {
    width: 6.4rem;
    height: 6.4rem;
    -webkit-box-reflect: below 2px
              -webkit-gradient(linear, left top, left bottom, from(transparent),
              color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
  }

#dock-container li:hover img { 
    -webkit-transform: scale(2);
    margin: 0 2em;
  }
  #dock-container li:hover + li img,
  #dock-container li.prev img {
    -webkit-transform: scale(1.5);
    margin: 0 1.5em;
  }

  #dock-container li span {
    display: none;
    position: absolute;
    bottom: 14rem;
    left: 0;
    width: 100%;
    background-color: var(--background-black);
    padding: 0.4rem 0;
    border-radius: 1.2rem;
    font-size: var(--size1);
}
#dock-container li:hover span {
    display: block;
    color: #fff;
}